*{
    box-sizing: border-box;
}
body{
    font-family: 'Comic Sans MS';
    font-weight: 600;;
}
/******* Genral styles ******/
h1{
    text-align: center;
    margin: 100px auto 60px auto;
    font-size: 1.75em;
}
section:hover{
    border-color: red;
}
section{
    position: relative;
    border: 2px solid black;
    background-color: #4CAF50;
    color: black;
}
.Stitle{
    position: absolute;
    text-align: center;
    padding: 5px 15px 5px 15px;
    right: -2px;
    top: -2px;
    border: 2px solid black;
    font-size: 1.25em;
    overflow: auto;
    width: 100px;
}
p{   
    margin-top: 40px;
    padding: 12px;
    
}

#title1{
    background-color: #e6bd19;
}

#title2{
    background-color: #ec9f79;
}
#title3{
    background-color: #799fec;
}


/******* Desktop view ******/
@media ( min-width: 992px ){
    .col-lg-4{
        width: 33.33%;
        float:left;
        padding:15px;
    } 
}

/******* Tablet View *******/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
        float:left;
        padding: 20px;
    }

    .col-md-12{
        float: left;
        width: 100%;
        padding: 15px;
    }
}

/******* Mobile View ******/
@media (max-width: 767px){
    nav{
        padding: 15px;
    }
    
}


